      <div class="d-flex  justify-content-between align-items-center px-2 flex-wrap border-bottom border-1 py-5 row-gap-5 column-gap-4">
          <div class="d-flex align-items-start justify-content-between column-gap-3 flex-wrap row-gap-3 ">
              <div >
                <button class="d-flex justify-content-between column-gap-2 rounded-4 align-items-center custom-text-sm border border-1 p-1 px-2 bg-white back" >
                  <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M2.20437 4.99907L5.91687 8.71157L4.85637 9.77207L0.083374 4.99907L4.85637 0.226074L5.91687 1.28657L2.20437 4.99907Z" fill="#5C5C5C" style="fill:#5C5C5C;fill:color(display-p3 0.3608 0.3608 0.3608);fill-opacity:1;"/>
                  </svg>

                  Back
                </button>
              </div>
              <div>
                <h1 class="fs-3 fw-semibold py-1">
                  Eneka land inspections
                </h1>
                <p class="text-secondary fs-6">
                 20 Plots of Land
                </p>
              </div>
          </div>

          
          <div class="d-flex align-items-center justify-content-between column-gap-4 row-gap-4 flex-wrap">
              <div class="border-end border-1 px-3 pe-5">
          
                <div>
                  <p class="fw-medium text-secondary">Price per plot</p>
                </div>

                <div class="d-flex align-items-center justify-content-between column-gap-2">
                  <div class="fs-4 fw-medium">
                    <p>N2.3,000,000</p>
                  </div>
            
          </div>
              </div>

              <div class="px-3">
                
                <div>
                  <p class="fw-medium text-secondary">Price per square meter</p>
                </div>

                <div class="d-flex align-items-center justify-content-between column-gap-2 ">
                  <div class="fs-4 fw-medium">
                    <p>N55,000</p>
                  </div>
                  
                </div>
              </div>
          </div>
          
      </div>

      <div class="d-flex align-items-center  column-gap-3  overflow-x-scroll border-5 border-danger py-4 position-relative gallery">
          <div class="gallery-item rounded-3 bg-primary "></div>
          <div class="gallery-item rounded-3 bg-primary "></div>
          <div class="gallery-item rounded-3 bg-primary "></div>
          <div class="gallery-item rounded-3 bg-primary "></div>
          <div class="gallery-item rounded-3 bg-primary "></div>
          <div class="gallery-item rounded-3 bg-primary "></div>
          <div class="gallery-item rounded-3 bg-primary "></div>
          <div class="gallery-item rounded-3 bg-primary "></div>
          <div class="gallery-item rounded-3 bg-primary "></div>
          <div class="gallery-item rounded-3 bg-primary "></div>
             
          
        
      </div>

     

      <div class=" px-2 py-4">
        <div class="pb-5">
          <h2 class="fw-medium fs-4">People for inspection</h2>
        </div>

       <div class="row row-gap-5 ">

          <div class="col-12 col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-12 d-flex align-items-center justify-content-start column-gap-3 pointer">
            <div class="bg-primary pfp-l rounded-5">

            </div>
            <div>
              <div class="fw-semibold fs-6">James Brown</div>
              <div class="fw-normal text-secondary custom-text ">0803567382</div>
            </div>
          </div>

          <div class="col-12 col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-12 d-flex align-items-center justify-content-start column-gap-3 pointer">
            <div class="bg-success pfp-l rounded-5">

            </div>
            <div>
              <div class="fw-semibold fs-6">Jesse Owens</div>
              <div class="fw-normal text-secondary custom-text ">0803567382</div>
            </div>
          </div>

          <div class="col-12 col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-12 d-flex align-items-center justify-content-start column-gap-3  pointer">
            <div class="bg-danger pfp-l rounded-5">

            </div>
            <div>
              <div class="fw-semibold fs-6">Mary Kai</div>
              <div class="fw-normal text-secondary custom-text ">0803567382</div>
            </div>
          </div>
          
          <div class="col-12 col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-12 d-flex align-items-center justify-content-start column-gap-3 pointer">
            <div class="bg-info pfp-l rounded-5">

            </div>
            <div>
              <div class="fw-semibold fs-6">Moses Jordan</div>
              <div class="fw-normal text-secondary custom-text ">0803567382</div>
            </div>
          </div>

          <div class="col-12 col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-12 d-flex align-items-center justify-content-start column-gap-3 pointer">
            <div class="bg-primary pfp-l rounded-5">

            </div>
            <div>
              <div class="fw-semibold fs-6">James Brown</div>
              <div class="fw-normal text-secondary custom-text ">0803567382</div>
            </div>
          </div>

          <div class="col-12 col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-12 d-flex align-items-center justify-content-start column-gap-3 pointer">
            <div class="bg-success pfp-l rounded-5">

            </div>
            <div>
              <div class="fw-semibold fs-6">James Brown</div>
              <div class="fw-normal text-secondary custom-text ">0803567382</div>
            </div>
          </div>

          <div class="col-12 col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-12 d-flex align-items-center justify-content-start column-gap-3 pointer">
            <div class="bg-danger pfp-l rounded-5">

            </div>
            <div>
              <div class="fw-semibold fs-6">Mary Kai</div>
              <div class="fw-normal text-secondary custom-text ">0803567382</div>
            </div>
          </div>
          
          <div class="col-12 col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-12 d-flex align-items-center justify-content-start column-gap-3 pointer">
            <div class="bg-info pfp-l rounded-5">

            </div>
            <div>
              <div class="fw-semibold fs-6">Moses Jordan</div>
              <div class="fw-normal text-secondary custom-text ">0803567382</div>
            </div>
          </div>

 
       </div>
     
      </div>
