<div class="d-flex  justify-content-between align-items-center px-2 flex-wrap border-bottom border-1 py-5 row-gap-4">
          <div>
              <h1 class="fs-3 fw-semibold py-1">
              Interest and Inspections
            </h1>
            <p class="text-secondary fs-6">
              See people who are interested in your property
            </p>
          </div>

          
        <div>
          
          <div>
            <p class="fw-medium text-secondary">Residents</p>
          </div>

          <div class="d-flex align-items-center justify-content-between column-gap-2">
            <div class="fs-3 fw-medium">
              <p>86</p>
            </div>
            <div>
             <p class="fw-medium text-secondary">
               <span class="text-success">+2%</span> vs last year
             </p>
            </div>
          </div>
        </div>
      </div>

      <div class=" py-4 d-flex justify-content-between align-items-center px-2 flex-wrap column-gap-4 row-gap-4 border-bottom border-1">
         <div class="  border-end border-1  flex-fill">
          
            <div>
              <p class="fw-normal fs-6 text-secondary-emphasis">Total inspections</p>
            </div>

            <div class="d-flex align-items-center justify-content-start column-gap-2">
              <div class="fs-3 fw-medium">
                <p>205</p>
              </div>
              <div>
              <p class="fw-medium text-secondary">
                <span class="text-success">+12</span> this quarter
              </p>
              </div>
            </div>
          </div>

          <div class=" border-end border-1   flex-fill">
          
            <div>
              <p class="fw-normal fs-6 text-secondary-emphasis">Total inspections</p>
            </div>

            <div class="d-flex align-items-center justify-content-start column-gap-2">
              <div class="fs-3 fw-medium">
                <p>205</p>
              </div>
              <div>
              <p class="fw-medium text-secondary">
                <span class="text-success">+12</span> this quarter
              </p>
              </div>
            </div>
          </div>

          <div class=" border-end border-1  flex-fill">
          
            <div>
              <p class="fw-normal fs-6 text-secondary-emphasis">Total inspections</p>
            </div>

            <div class="d-flex align-items-center justify-content-start column-gap-2">
              <div class="fs-3 fw-medium">
                <p>205</p>
              </div>
              <div>
              <p class="fw-medium text-secondary">
                <span class="text-success">+12</span> this quarter
              </p>
              </div>
            </div>
          </div>

          <div class="   flex-fill">
            <div class="d-flex align-items-center justify-content-center flex-wrap column-gap-3 row-gap-3">
                <div class="flex-fill">
                  <input type="text" class="form-control w-100 bg-secondary border-0 py-3 custom-text-sm" placeholder="Search"  style="--bs-bg-opacity: .07;">
                </div>

                <div class="d-flex align-items-center justify-content-center column-gap-3 row-gap-3">
                    
                <!-- <select name="Filter" id="filter" class="border-0 bg-secondary rounded-4 py-3 px-2 text-secondary fw-medium custom-text-sm" style="--bs-bg-opacity: .07; appearance: none;" >
                  <option value="" selected>Newest</option>
                  <option value="">Anot</option>
                </select> -->

                <div class="dropdown">
                  <button
                    class=" dropdown-toggle border-0 bg-secondary rounded-4 py-3 px-2 text-secondary fw-medium custom-text-sm " 
                    style="--bs-bg-opacity: .07; appearance: none;"
                    type="button"
                    id="triggerId"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                   Newest
                  </button>
                  <div class="dropdown-menu" aria-labelledby="triggerId">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item disabled" href="#">Disabled action</a>
                    <h6 class="dropdown-header">Section header</h6>
                    <a class="dropdown-item" href="#">Action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">After divider action</a>
                  </div>
                </div>
                

                <button class="btn text-secondary bg-secondary border-0 fw-medium custom-text-sm p-3 column-gap-2 rounded-4 d-flex align-items-center" style="--bs-bg-opacity: .07;">
                  <img src="./assets/icons/filter.svg" alt="filter icon">
                  Filter
                </button>
                </div>
            </div>
          </div>
      </div>

      <div class="d-flex justify-content-start align-items-center px-2 px-sm-0 px-md-0 border-bottom border-1 column-gap-3 flex-wrap ">
          <div class="d-flex justify-content-start align-items-center column-gap-2  border-bottom border-primary border-3 h-100 py-3 text-primary custom-text  flex-grow-0 pointer js-inspection-option land-option">
              <svg width="23" height="23" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M16.75 3.25C16.9489 3.25 17.1397 3.32902 17.2803 3.46967C17.421 3.61032 17.5 3.80109 17.5 4V16C17.5 16.1989 17.421 16.3897 17.2803 16.5303C17.1397 16.671 16.9489 16.75 16.75 16.75H3.25C3.05109 16.75 2.86032 16.671 2.71967 16.5303C2.57902 16.3897 2.5 16.1989 2.5 16V4C2.5 3.80109 2.57902 3.61032 2.71967 3.46967C2.86032 3.32902 3.05109 3.25 3.25 3.25H16.75ZM9.25 10.75H4V15.25H9.25V10.75ZM16 10.75H10.75V15.25H16V10.75ZM9.25 4.75H4V9.25H9.25V4.75ZM16 4.75H10.75V9.25H16V4.75Z" fill="#335CFF" />
              </ svg>
                      <p>Land Inspections</p>
          </div>
          

          <div class="d-flex justify-content-start align-items-center column-gap-2 py-3 custom-text pointer js-inspection-option house-option">
              <svg width="23" height="23" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M11.5 17.875L9.4 15.25H5.5C5.30109 15.25 5.11032 15.171 4.96967 15.0303C4.82902 14.8897 4.75 14.6989 4.75 14.5V6.32725C4.75 6.12834 4.82902 5.93757 4.96967 5.79692C5.11032 5.65627 5.30109 5.57725 5.5 5.57725H17.5C17.6989 5.57725 17.8897 5.65627 18.0303 5.79692C18.171 5.93757 18.25 6.12834 18.25 6.32725V14.5C18.25 14.6989 18.171 14.8897 18.0303 15.0303C17.8897 15.171 17.6989 15.25 17.5 15.25H13.6L11.5 17.875ZM12.8792 13.75H16.75V7.07725H6.25V13.75H10.1208L11.5 15.4735L12.8792 13.75ZM2.5 2.5H15.25V4H3.25V12.25H1.75V3.25C1.75 3.05109 1.82902 2.86032 1.96967 2.71967C2.11032 2.57902 2.30109 2.5 2.5 2.5Z" fill="#5C5C5C" />
              </ svg>


                      <p>House Inspections</p>
          </div>
      </div>

      <div class=" px-2 py-4">
       <div class="row row-gap-4 js-inspection-box">

          <div class="col-12 col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-12 item pointer">
            <div class="card bg-secondary border-0" style="--bs-bg-opacity:0.07;">
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <h3 class=" fs-6 ">Eneka Land Inspection</h3>

                  <div class="bg-white rounded-5 p-1 d-flex justify-content-center align-items-center" style="width: 25px; height:25px;">
                    <img src="./assets/icons/Vector.svg" alt="" width="13px" height="13px">
                  </div>

                </div>

                <div class="mb-3">
                  <p class="text-secondary custom-text">9:00 - May 2nd, 2025</p>
                </div>


                <div class="bg-white d-flex align-items-center justify-content-between p-1 px-2 rounded-5 w-50 mb-2" >
                    <div class="d-flex align-items-center">
                      <div class="rounded-5 bg-primary border border-2 border-white pfp d-flex align-items-center justify-content-center text-white" >A</div>
                      <div class="rounded-5 bg-primary border border-2 border-white pfp  text-white d-flex align-items-center justify-content-center">B</div>
                      <div class="rounded-5 bg-primary border border-2 border-white pfp  text-white d-flex align-items-center justify-content-center">C</div>
                    </div>

                    <div class="mx-1"> +4</div>
                </div>

                <div class="d-flex align-items-center justify-content-between">
                    <div class="custom-text-sm">
                      On-site inspection
                    </div>

                    <div class="fw-semibold rounded-4 p-1 px-2 custom-text-sm text-danger bg-danger-subtle">
                      Land
                    </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-12 pointer">
            <div class="card bg-secondary border-0" style="--bs-bg-opacity:0.07;">
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <h3 class=" fs-6 ">Eneka Land Inspection</h3>

                  <div class="bg-white rounded-5 p-1 d-flex justify-content-center align-items-center" style="width: 25px; height:25px;">
                    <img src="./assets/icons/Vector.svg" alt="" width="13px" height="13px">
                  </div>

                </div>

                <div class="mb-3">
                  <p class="text-secondary custom-text">9:00 - May 2nd, 2025</p>
                </div>


                <div class="bg-white d-flex align-items-center justify-content-between p-1 px-2 rounded-5 w-50 mb-2" >
                    <div class="d-flex align-items-center">
                      <div class="rounded-5 bg-primary border border-2 border-white pfp d-flex align-items-center justify-content-center text-white" >A</div>
                      <div class="rounded-5 bg-primary border border-2 border-white pfp  text-white d-flex align-items-center justify-content-center">B</div>
                      <div class="rounded-5 bg-primary border border-2 border-white pfp  text-white d-flex align-items-center justify-content-center">C</div>
                    </div>

                    <div class="mx-1"> +4</div>
                </div>

                <div class="d-flex align-items-center justify-content-between">
                    <div class="custom-text-sm">
                      On-site inspection
                    </div>

                    <div class="fw-semibold rounded-4 p-1 px-2 custom-text-sm text-danger bg-danger-subtle">
                      Land
                    </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-12 pointer">
            <div class="card bg-secondary border-0" style="--bs-bg-opacity:0.07;">
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <h3 class=" fs-6 ">Eneka Land Inspection</h3>

                 <div class="bg-white rounded-5 p-1 d-flex justify-content-center align-items-center" style="width: 25px; height:25px;">
                    <img src="./assets/icons/Vector.svg" alt="" width="13px" height="13px">
                  </div>

                </div>

                <div class="mb-3">
                  <p class="text-secondary custom-text">9:00 - May 2nd, 2025</p>
                </div>


                <div class="bg-white d-flex align-items-center justify-content-between p-1 px-2 rounded-5 w-50 mb-2" >
                    <div class="d-flex align-items-center">
                      <div class="rounded-5 bg-primary border border-2 border-white pfp d-flex align-items-center justify-content-center text-white" >A</div>
                      <div class="rounded-5 bg-primary border border-2 border-white pfp  text-white d-flex align-items-center justify-content-center">B</div>
                      <div class="rounded-5 bg-primary border border-2 border-white pfp  text-white d-flex align-items-center justify-content-center">C</div>
                    </div>

                    <div class="mx-1"> +4</div>
                </div>

                <div class="d-flex align-items-center justify-content-between">
                    <div class="custom-text-sm">
                      On-site inspection
                    </div>

                    <div class="fw-semibold rounded-4 p-1 px-2 custom-text-sm text-primary bg-primary-subtle">
                      House
                    </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-12 pointer">
            <div class="card bg-secondary border-0" style="--bs-bg-opacity:0.07;">
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <h3 class=" fs-6 ">Eneka Land Inspection</h3>

                 <div class="bg-white rounded-5 p-1 d-flex justify-content-center align-items-center" style="width: 25px; height:25px;">
                    <img src="./assets/icons/Vector.svg" alt="" width="13px" height="13px">
                  </div>

                </div>

                <div class="mb-3">
                  <p class="text-secondary custom-text">9:00 - May 2nd, 2025</p>
                </div>


                <div class="bg-white d-flex align-items-center justify-content-between p-1 px-2 rounded-5 w-50 mb-2" >
                    <div class="d-flex align-items-center">
                      <div class="rounded-5 bg-primary border border-2 border-white pfp d-flex align-items-center justify-content-center text-white" >A</div>
                      <div class="rounded-5 bg-primary border border-2 border-white pfp  text-white d-flex align-items-center justify-content-center">B</div>
                      <div class="rounded-5 bg-primary border border-2 border-white pfp  text-white d-flex align-items-center justify-content-center">C</div>
                    </div>

                    <div class="mx-1"> +4</div>
                </div>

                <div class="d-flex align-items-center justify-content-between">
                    <div class="custom-text-sm">
                      On-site inspection
                    </div>

                    <div class="fw-semibold rounded-4 p-1 px-2 custom-text-sm text-primary bg-primary-subtle">
                      House
                    </div>
                </div>
              </div>
            </div>
          </div>

          


       
          

         
       </div>
       
         
      </div>
