<div>
<div class="custom-text-sm text-secondary bg-secondary px-4 py-1 fw-medium my-2 " style="--bs-bg-opacity:.09
" >
CUSTOMER
</div>

<div class=" d-flex align-items-center justify-content-start column-gap-3 px-4 py-4">
<div class="pfp-l bg-info rounded-5 d-flex align-items-center justify-content-center fw-bold">DB</div>
<div>
  <div class="fs-6 fw-semibold">Douglas Batubo</div>
  <div class="custom-text text-secondary">Prospective Owner or Resident</div>
</div>
</div>
</div>

<div class=" py-3 overflow-y-scroll  offcanvas-details js-offcavas-details">

<div>
<div class="custom-text-sm text-secondary bg-secondary px-4 py-1 fw-medium my-2 " style="--bs-bg-opacity:.09
" >
KYC DETAILS
</div>

<div class="px-4">
  <div class="d-flex justify-content-between align-items-center py-2">
    <p class="fs-6 text-secondary">Contact:</p>
    <p class="">08042786359</p>
  </div>

  <div class="d-flex justify-content-between align-items-center py-2">
    <p class="fs-6 text-secondary">Email:</p>
    <p class="">douglasbatubo@gmail.com</p>
  </div>

  <div class="d-flex justify-content-between align-items-center py-2">
    <p class="fs-6 text-secondary">Gender:</p>
    <p class="">Male</p>
  </div>

  <div class="d-flex justify-content-between align-items-center py-2">
    <p class="fs-6 text-secondary">Profession:</p>
    <p class="">Software Engineer</p>
  </div>

  <div class="d-flex justify-content-between align-items-center py-2">
    <p class="fs-6 text-secondary">Guarantor:</p>
    <p class="">Dukobo Amadi</p>
  </div>

</div>


<div class="custom-text-sm text-secondary bg-secondary px-4 py-1 fw-medium my-3 " style="--bs-bg-opacity:.09
" >
ID CARD - NIN OR VOTER’S CARD
</div>


<div class="px-4 ">
    <div class="gallery-item bg-info rounded-3">

    </div>
</div>
</div>


</div>